button i {
  vertical-align: middle;
}

#results .result {
  max-height: 100px;
  overflow: hidden;
}

header h1 {
  font-size: 2rem;
  text-transform: uppercase;
  & > * {
    vertical-align: middle;
  }
  & > i {
    margin-right: .5rem;
  }
}